input {
   background: radial-gradient(circle at center, rgb(177, 126, 79), rgb(170, 203, 61));
   color: white;
   font-size: 1.3em;
   width: 45vmin; 
   height: 2.5vmax;
   border: 1px solid gray;
   border-radius: 10px;
}

.btn-search {
    font-size: 1em;
    height: 2vmax;
    margin: 2px;
}

.p-instrct {
    color: white;
}

.weath-in {
    color: white;
}

.weath-data {
    color: white;
}

.temp {
    color: white;
}

.feels {
    color: white;
}

.humid {
    color: white;
}