 body {
    background-image: url("https://images.pexels.com/photos/2007139/pexels-photo-2007139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
 }

 .App-container {
  display: flex;
  justify-content: center;
  align-Items: center;
  margin-top: 40vh;
 }

 .title {
     background: radial-gradient(circle at center, rgb(153, 88, 101), rgb(183, 91, 52), rgb(232, 244, 108));
     -webkit-background-clip: text; /* For Safari */
     background-clip: text; /* For other browsers */
     color: transparent; 
     font-style:oblique;
     font-size: 3.2em;
     position: relative;
     top: -15vh;
     left: 2vw;
    
 }